@page
@model CSharpning.com.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Faruk Karagoz";
}

<head>
    <title>@ViewData["Title"]</title>
</head>
<body>

<div class="textoPrincipal">
        <div class="profilePicture">
            <img src="~/images/imgFRK.png" alt="profilePhoto">
        </div> 
        <h1 class="title">@ViewData["Title"]</h1>
        <h2 class="secondTitle">Computer Scientist</h2>
        <p>
            I am a proactive Computer Science student with IT Support Coordinator experience 
            who wants to employ my problem-solving and technical talents in software development.
            . I can contribute to unique and advanced software solutions because of my expertise in
            <strong><span style="color:#0b6e63;">C#</span></strong>, 
            <strong><span style="color:#0b6e63;">ASP .NET</span></strong>, 
            <strong><span style="color:#0b6e63;">CSS </span></strong>
            <strong><span style="color:#0b6e63;">HTML</span></strong>
            and experience solving complicated design and integration problems.  
            I want to use my skills in an atmosphere that fosters creativity and technical brilliance.
        </p>
    </div>
    
</body>

</html>
