@page
@model PrivacyModel
@{
    ViewData["Title"] = "Get in Touch";
}


<div class="contact-container">
    
    <h1 class="privacyInfo">@ViewData["Title"]</h1>

    <p>If you have any questions or need further information, please feel free to contact us using the details below.</p>

    <div class="contact-details">
        <p><strong>Email:</strong> <a href="mailto:fkaragoz@asu.edu">fkaragoz@asu.edu</a></p>
        <p><strong>Address:</strong> Greater Phoenix Area, United States</p>

        <div class="social-links">
            <p>Connect with me:</p>
            <a href="https://www.linkedin.com/in/fkaragoz/" target="_blank" class="social-link">LinkedIn</a>
            <a href="https://github.com/5KAZALI-48" target="_blank" class="social-link">GitHub</a>
        </div>
    </div>
</div>