@page
@model CSharpning.com.WebApp.Pages.Home.SkillsModel

@{
    ViewData["Title"] = "Skills";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="infoSkills">
        <h1 class="skills">@ViewData["Title"]</h1>
        <h2 class="titleIntroduction">Introduction</h2>
        <p>
            I recently received my Bachelor of Science in Computer Science from Arizona State University, where I earned my degree. 
            I am a highly skilled IT support coordinator and software developer with substantial experience gained during my tenure 
            at Insight Global/Circle K Stores in Tempe, Arizona, from November 2021 to May 2023. Practical expertise in 
            <strong><span style="color:#80b2d1;">.NET Framework and .NET Core, Java, Android, C, C#</span></strong>, 
            and front-end technologies including <strong><span style="color:#80b2d1;">HTML CSS, Razor Pages</span></strong> are complemented
            by my academic background. SQL, Entity Framework, Git, version control, RESTful API development, and object-oriented programming 
            are all areas in which I am proficient.
            
        </p>
    </div>
</body>

</html>
